### Updating Data to The Database:

To update a row in the shell:
1- select the row by Movie.objects.all()[index] and put in a variable

In [ ]:
harry_potter = Movie.objects.all()[0]

In [ ]:
2- Now, change the cell that you wish to change using the new variable.

In [ ]:
harry_potter.main_act = 'Daniel Radcliffe'
harry_potter.is_bestselling = True

If you run the commands, the dabase won't get affected.<br>
To update the databse un the save method on the harry_potter object

In [ ]:
harry_potter.save()

In [ ]:
Now if you run Movie.objects.all(), you will see that the table is affected.

<QuerySet [<Movie: title:Harry Potter 1 - The philosopher's ston, rating:7, Main Actor/actress:Daniel Radcliffe, Best Seller>, <Movie: title:Harry Potter 2 - Chamber of Secrets, rating:8, Main Actor/actress:None>, <Movie: title:Harry Potter 3 - The Prisoner of Azkaban, rating:8, Main Actor/actress:None>, <Movie: title:Harry Potter 4 - The Goblet of Fire, rating:9, Main Actor/actress:None>, <Movie: title:Harry Potter 5 - The Order of the Phoenix, rating:9, Main Actor/actress:None>, <Movie: title:Harry Potter 6 - The Half Blood Prince, rating:9, Main Actor/actress:None>, <Movie: title:Harry Potter 7 - The Deathly Hallows, rating:10, Main Actor/actress:None>]>

Update the other row so that every line has all the values.<br>

<QuerySet [<Movie: title:Harry Potter 1 - The philosopher's ston, rating:7, Main Actor/actress:Daniel Radcliffe, Best Seller>, <Movie: title:Harry Potter 2 - Chamber of Secrets, rating:8, Main Actor/actress:Daniel Radcliffe, Best Seller>, <Movie: title:Harry Potter 3 - The Prisoner of Azkaban, rating:8, Main Actor/actress:Daniel Radcliffe, Best Seller>, <Movie: title:Harry Potter 4 - The Goblet of Fire, rating:9, Main Actor/actress:Daniel Radcliffe, Best Seller>, <Movie: title:Harry Potter 5 - The Order of the Phoenix, rating:9, Main Actor/actress:Daniel Radcliffe, Best Seller>, <Movie: title:Harry Potter 6 - The Half Blood Prince, rating:9, Main Actor/actress:Daniel Radcliffe, Best Seller>, <Movie: title:Harry Potter 7 - The Deathly Hallows, rating:10, Main Actor/actress:Daniel Radcliffe, Best Seller>]>

Note: You can style the output if you want. Just create a for-loop an iterate through the results (Yes, you should do it in shell).

In [ ]:
for i in Movie.objects.all():
    ...:     print(i)

title:Harry Potter 1 - The philosopher's ston, rating:7, Main Actor/actress:Daniel Radcliffe, Best Seller
title:Harry Potter 2 - Chamber of Secrets, rating:8, Main Actor/actress:Daniel Radcliffe, Best Seller
title:Harry Potter 3 - The Prisoner of Azkaban, rating:8, Main Actor/actress:Daniel Radcliffe, Best Seller
title:Harry Potter 4 - The Goblet of Fire, rating:9, Main Actor/actress:Daniel Radcliffe, Best Seller
title:Harry Potter 5 - The Order of the Phoenix, rating:9, Main Actor/actress:Daniel Radcliffe, Best Seller
title:Harry Potter 6 - The Half Blood Prince, rating:9, Main Actor/actress:Daniel Radcliffe, Best Seller
title:Harry Potter 7 - The Deathly Hallows, rating:10, Main Actor/actress:Daniel Radcliffe, Best Seller

In the next notebook you will learn how to delete data (row(s))