### Query by Relations:


lets say that I want to find all the movies where the main actors last name is 'Radcliffe'.

In [ ]:
movies_by_radcliffe = Movie.objects.filter(main_act__last_name='Radcliffe')
for movie in movies_by_radcliffe:
    print(movie)

In [ ]:
title:Harry Potter and The Philosopher's Stone, rating:6, Main Actor/actress:Actor object (1), Best Seller

As you see this works exactly like using modifier!<br>
Please understand that you can extend the modifiers too. for example you could use the contains modifier on the relation query too:

In [ ]:
movies_by_radcliffe = Movie.objects.filter(main_act__last_name__icontains='Radcliffe')

In the case you are confused, I just added icontains modifier using __ to the main_act__last_name

You might ask a very intresting question here!<br>
Could we do what just achieved in the reverse format? I mean could we select all the movies where their main_act last name is 'Radcliffe'?<br> 

Yes we could. Here is the code:

In [ ]:
radcliffe = Actor.objects.get(last_name='Radcliffe')
radcliffe.movie_set

In [ ]:
<django.db.models.fields.related_descriptors.create_reverse_many_to_one_manager.<locals>.RelatedManager at 0x25f41281c30>

If you want to query through all the movie_set, you can use the following:

In [ ]:
radcliffe.movie_set.all()

or

In [ ]:
for movie in radcliffe.movie_set.all():
    print(movie)

In [ ]:
title:Harry Potter and The Philosopher's Stone, rating:6, Main Actor/actress:Actor object (1), Best Seller

Please undertsand that movie_set is created by django automatically, and the syntax is the same for all data-models. You just start with the name of the data-model (all-lowercase) and add '_set' to it.<br>

One thing to note is that you can also change the name of this relation, so you wont need to use '[modelname]_set'.<br>
To do that you need to navigate to your models.py file and add a new argument to the foreignKey field called related_name and set it to a new name(string).<br>

So, if want to change the relation name of my foreignkey to 'movies', I should add the following:

In [ ]:
main_act= models.ForeignKey(Actor, models.CASCADE, null=True, related_name='movies')

Please undertand that you have just changed the schema of your table! Hence you need to makemigrations and then migrate before you could run the following query:

In [ ]:
 radcliffe = Actor.objects.get(last_name='Radcliffe')

for movie in radcliffe.movies.all():
    print(movie)

title:Harry Potter and The Philosopher's Stone, rating:6, Main Actor/actress:Actor object (1), Best Seller

In the next notebook we will use what we have learned in our project.